[Desktop Entry]
Version=1.0
Type=Application
Name=PrismScheduler
Comment=PrismScheduler - OS Process Scheduler Simulator
Exec=/full/path/to/scheduler_gui
Icon=/full/path/to/Images/app_icon.png
Terminal=false
Categories=Utility;